button {
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    text-align: center;
    background-color: black;
}

.game {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    border-radius: 20px;
    background: url('img/background.png') center/cover;
}

.game__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.game__button {
    width: 60px;
    height: 60px;
    background-color: wheat;
    border: 4px solid black;
    font-size: 24px;
    transition: transform 300ms ease-in;
}

.game__button:hover {
    transform: scale(1.1);
}

.game__timer {
    width: 100px;
    background-color: white;
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
    font-size: 32px;
    margin-top: 8px;
    visibility: hidden;
    user-select: none;
    cursor: auto;
}

.game__score {
    margin-top: 8px;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 36px;
    background-color: darksalmon;
    border-radius: 50%;
    border: 3px solid black;
    color: white;
    visibility: hidden;
    user-select: none;
    cursor: auto;
}

.game__field {
    position: relative;
    margin-top: 40px;
    width: 100%;
    height: 100%;
}

.pop-up {
    display: block;
    margin: auto;
    width: 400px;
    height: 140px;
    padding: 20px;
    background-color: #00000090;
    text-align: center;
    color: white;
    border-radius: 20px;
    transform: translateY(-150%);
}

.pop-up--hide {
    display: none;
}

.pop-up__refresh {
    width: 60px;
    height: 60px;
    font-size: 24px;
    background-color: wheat;
    border: 2px solid black;
    border-radius: 50%;
}

.pop-up__message {
    display: block;
    font-size: 38px;
}

.carrot,
.bug {
    transition: transform 100ms ease-in;
}

.carrot:hover,
.bug:hover {
    transform: scale(1.1);
}
